body {
    padding: 50px;
    background-color: beige;
}
body.ej {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: beige;
}
h1 {
    color: brown;
}
div.gato {
    border: 3px solid red;
    display: inline-block;
}
h1.fnt-red {
    color: red;
}
.fnt-blue {
    color: blue;
}
#nombre_alumno {
    color: red;
    text-decoration: underline;
}
.titulo {
    color: steelblue;
    font-size: 30px;
    font-style: oblique;
}
.texto {
    color: darkblue;
    font-size: 15px;
}
.destacado {
    font-weight: bold;
    font-style: oblique;
}
figure {
    display: inline-block;
}
table.tablaFoto {
    padding: 20px;
    align-content: center;
    align-self: center;
    border: 3px solid white;
    border-radius: 20px;
    background-color:gainsboro;
    table-layout: fixed;
}
.cuadroImagen {
    background-color: white;
    margin: 0px;
    padding: 0px;
    border: 0px solid white;
    width: 150px;
    border-radius: 20px 0px 0px 0px;
}
.cuadroInformacion {
    background-color: white;
    margin: 0px;
    padding: 0px;
    border: 0px solid white;
    width: 150px;
}
.cuadroIconos {
    width: 150px;
    background-color: white;
    border-radius: 20px 0px 0px 0px;
}
p.descripcion {
    color: gray;
    margin: 10px 0px 10px 0px;
}
table { 
    border-collapse: separate; 
}
td, th { 
    border: solid 1px white; 
}
tr td, th { 
    border-top-right-radius: 0;               
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0; 
    border-bottom-right-radius: 0; 
}
th:first-child { 
    border-top-left-radius: 10px; 
}
th:last-child {   
    border-top-right-radius: 10px; 
}
tr:last-child td:first-child { 
    border-bottom-left-radius: 10px; 
}
tr:last-child td:last-child { 
    border-bottom-right-radius: 10px; 
}
/* Ejercicio 5 */
div.recAzul {
    background-color: blue;
    text-align: center;
    height: 40px;
    position:fixed; 
    top:0; 
    width: 100%; 
}
div.recRojo {
    background-color: red;
    text-align: center;
    height: 40px;
    position:fixed; 
    bottom:0; 
    width: 100%; 
}
div.recCentro {
    text-align: center;
    width: 100%;
    position: fixed;
    top: 50%;
    bottom: 50%;
}
/* Ejercicio 7 */
#iconoEmpresa {
    width: 200px;
}
.informacionEmpresa {
    position:fixed;
    color: rgb(150, 212, 212);
}
.facturaCliente {
    position: fixed;
    right: 15%;
    color: rgb(150, 212, 212);
      
}
.numFactura {
    border-bottom: 4px solid rgb(57, 194, 159);
    text-align: center;
    width: 200px;
    margin-left: 55px;
}
.fechaFactura {
    text-align: center;
}
div.cliente {
    width: 300px;
    border-right: 10px solid rgb(57, 194, 159);
    border-left: 10px solid rgb(57, 194, 159);
}
.nombreCliente {
    font-size: 20px;
    font-weight: bolder;
}